.btn-success {
    margin-right: 6px;
}

.form-group, 
.img-box {
    margin-top: 15px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

form img {
    max-width: 50%;
}