<div class="recipe-detail">
  <div class="row">
    <div class="col-12">
      <img 
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}" 
        style="width: 100%; max-height: 380px; border-radius: 7px;"
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="btn-group dropdown" (mouseleave)="toggleClose()">
        <button type="button" class="btn btn-primary dropdown-toggle" (click)="onDropdownToggle()">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" [ngClass]="{'d-block top': isOpen === true}">
          <li><a class="dropdown-item" href="#">To Shopping List</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Ingredients
    </div>
  </div>
</div>